.form-honeypot {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.text-roll-button__text--secondary::before {
  content: attr(data-label);
}

.solution-network__node-label::before {
  content: attr(data-label);
}
